# Configurações do Monorepo
PORT=3000
DATABASE_URL=postgres://postgres:password_db_os_secure_9832@localhost:5432/gestao_os?schema=public

# Armazenamento de Fotos e Checklists
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=password_minio_s3_secure_123

# Segurança e Sessão
JWT_SECRET=jwt_secret_key_saas_platform_9843920
SESSION_TIMEOUT_MINUTES=30
